html {
  font-size: 10px;
  background-color: #474747;
}

.drum {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  
}

.drum img {
  width: 70%;
}

body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.keys {
}

.key {
  border: .4rem solid black;
  border-radius: .5rem;
  margin: 1rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  width: 3rem;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.4);
  text-shadow: 0 0 .5rem black;
}

.kick { 
  position: absolute;
  top: 47%;
  left: 47%;
}

.hithat {
  position: absolute;
  top: 40%;
  left: 65%;
}

.hithatopen {
  position: absolute;
  top: 40%;
  left: 70%;
}

.snare {
  position: absolute;
  top: 45%;
  left: 58%;
}

.ride {
  position: absolute;
  top: 35%;
  left: 30%;
}

.tom1 {
  position: absolute;
  top: 38%;
  left: 53%;
}

.tom2 {
  position: absolute;
  top: 38%;
  left: 41%;
}

.tomfl {
  position: absolute;
  top: 47%;
  left: 34%;
}

.clap {
  position: absolute;
}

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #ffc600;
}
